name: Secretlint
on: [push, pull_request]
permissions:
  contents: read

jobs:
  test:
    name: Secretlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version-file: .node-version
      - name: Install
        run: npm ci
      - name: Lint with SecretLint
        run: npx secretlint --format github "**/*"
